Day 1

In [ ]:
print (3+4)
print (4-3)
print (3*4)
print (12/3)
print (4%12)
print (3**4)
print (67//5)

print ("My Name is Param")
print ("I am enjoying 30 days of python")



print(type(10))      
print(type(3.14))
print(type(1+3j))
print(type(True))
print(type([1, 2, 3]))
print(type({'name':'Param', 'age':24}))
print(type(('Raman','Manraj', 'Param')))
print(type({1, 2, 3}))
print(type("Param")) 



def euclidean_distance(p1, p2): #p1 and p2 are tuples representing points (x, y), these are arguments
    return ((p1[0] - p2[0])**2 + (p1[1] - p2[1])**2) ** 0.5 # index 0 is x coordinate, index 1 is y coordinate

point1 = (3, 4)
point2 = (7, 1)

print(euclidean_distance(point1, point2)) # calling the function with point1 and point2 as parameters

In [ ]:
import math

first_name = "Mnaraj"
last_name = "Singh"
full_name = first_name + " " + last_name
country = "India"
city = "Chandigarh" 
age = 24
is_married = False
is_light_on = True
new_name, new_age = "Raman", "25"

print(len(first_name))
print(type(full_name))

num_one = 5
num_two = 4
total = num_one + num_two
diff = num_two - num_one
product = num_one * num_two
division = num_two / num_one
remainder = num_two % num_one
exp = num_one ** num_two
floor_div = num_one // num_two
print(total, diff, product, division, remainder, exp, floor_div)
radius = int(input("Enter radius: "))
area = math.pi * radius**2
circumference = 2 * math.pi * radius
print("Area:", int(area))
print("Circumference:", int(circumference))

In [ ]:
age = int(12)
height = float(5.9)
complex_num = complex(1 + 2j)

base = int(input("Enter base: "))
height = int(input("Enter height: "))
area = 0.5 * base * height
print("Area of triangle:", area)

side_a = int(input("Enter side a: "))
side_b = int(input("Enter side b: "))   
side_c = int(input("Enter side c: "))
perimeter = side_a + side_b + side_c  
print("Perimeter of triangle is:", perimeter)

length = int(input("Enter length: "))
width = int(input("Enter width: "))
area = length * width
perimeter = 2 * (length + width)
print("Area of rectangle:", area)
print("Perimeter of rectangle:", perimeter)

x = 0
graph = 2*x -2 

print(len('Python'))
print(len('Dragon'))

print (len('python') != len('dragon'))

print ('on' in 'python' and 'on' in 'dragon') 

print ('on' in 'I hope this course is not full of jargon')

word = 'python'
word_length = int((len(word)))
print (float(word_length))
print (str(word_length))

user_num = int(input("Enter number: "))
if user_num % 2 == 0:
    print(user_num, "is even")
else:
    print(user_num, "is odd")

hours = int(input("Enter hours: "))
rate = float(input("Enter rate per hour: "))
pay = hours * rate
print("Your weekly earning is:", pay)

num_years = int(input("Enter number of years you have lived: "))
seconds_lived = num_years * 31536000
print("You have lived for", seconds_lived, "seconds")

In [ ]:
test_string = ['Thirty', 'Days', 'Of', 'Python']
print (' '.join(test_string))
test2_string = ['Coding', 'For', 'All']
print (' '.join(test2_string))
company = "Coding For All"
print (company)
print (len(company))
print (company.upper())
print (company.lower())
print (company.capitalize())
print (company.title())
print (company.swapcase())
print (company[0])
last_8 = company[-7:]
print (last_8)
print(company.find('Coding'))
print(company.replace('Coding', 'Python'))
print (company.split())
tech_company = "Facebook, Google, Microsoft, Apple, IBM, Oracle, Amazon"
print (tech_company.split(', '))
print (company[0])
print (company[-1])
print (company[10])

In [6]:
fruits = [ 'banana', 'orange', 'mango', 'lemon' ]
houses = ['Bungalow', 'Duplex', 'Apartment', 'Villa', 'Semi-Detached', 'Detahced']
print (len(houses))
print (houses[0])
print (houses[-1])
print (houses[3])
mixed_data_types = ['Param', 24, 5.9, True, 'Chandigarh']
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
print (it_companies)
print (mixed_data_types)
print (len(it_companies))
print (it_companies[0])
print (it_companies[-1])
print (it_companies[3])
it_companies.insert(3, 'Twitter')
print (it_companies)
it_companies[1] = 'GOOGLE'
print (it_companies)
print ( it_companies + mixed_data_types)
print ('GOOGLE' in it_companies)
it_companies.sort()
print (it_companies)
it_companies.reverse()
print (it_companies)

6
Bungalow
Detahced
Villa
['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
['Param', 24, 5.9, True, 'Chandigarh']
7
Facebook
Amazon
Apple
['Facebook', 'Google', 'Microsoft', 'Twitter', 'Apple', 'IBM', 'Oracle', 'Amazon']
['Facebook', 'GOOGLE', 'Microsoft', 'Twitter', 'Apple', 'IBM', 'Oracle', 'Amazon']
['Facebook', 'GOOGLE', 'Microsoft', 'Twitter', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Param', 24, 5.9, True, 'Chandigarh']
True
['Amazon', 'Apple', 'Facebook', 'GOOGLE', 'IBM', 'Microsoft', 'Oracle', 'Twitter']
['Twitter', 'Oracle', 'Microsoft', 'IBM', 'GOOGLE', 'Facebook', 'Apple', 'Amazon']