Day 1

In [ ]:
print (3+4)
print (4-3)
print (3*4)
print (12/3)
print (4%12)
print (3**4)
print (67//5)

print ("My Name is Param")
print ("I am enjoying 30 days of python")



print(type(10))      
print(type(3.14))
print(type(1+3j))
print(type(True))
print(type([1, 2, 3]))
print(type({'name':'Param', 'age':24}))
print(type(('Raman','Manraj', 'Param')))
print(type({1, 2, 3}))
print(type("Param")) 



def euclidean_distance(p1, p2): #p1 and p2 are tuples representing points (x, y), these are arguments
    return ((p1[0] - p2[0])**2 + (p1[1] - p2[1])**2) ** 0.5 # index 0 is x coordinate, index 1 is y coordinate

point1 = (3, 4)
point2 = (7, 1)

print(euclidean_distance(point1, point2)) # calling the function with point1 and point2 as parameters

In [ ]:
import math

first_name = "Mnaraj"
last_name = "Singh"
full_name = first_name + " " + last_name
country = "India"
city = "Chandigarh" 
age = 24
is_married = False
is_light_on = True
new_name, new_age = "Raman", "25"

print(len(first_name))
print(type(full_name))

num_one = 5
num_two = 4
total = num_one + num_two
diff = num_two - num_one
product = num_one * num_two
division = num_two / num_one
remainder = num_two % num_one
exp = num_one ** num_two
floor_div = num_one // num_two
print(total, diff, product, division, remainder, exp, floor_div)
radius = int(input("Enter radius: "))
area = math.pi * radius**2
circumference = 2 * math.pi * radius
print("Area:", int(area))
print("Circumference:", int(circumference))

In [ ]:
age = int(12)
height = float(5.9)
complex_num = complex(1 + 2j)

base = int(input("Enter base: "))
height = int(input("Enter height: "))
area = 0.5 * base * height
print("Area of triangle:", area)

side_a = int(input("Enter side a: "))
side_b = int(input("Enter side b: "))   
side_c = int(input("Enter side c: "))
perimeter = side_a + side_b + side_c  
print("Perimeter of triangle is:", perimeter)

length = int(input("Enter length: "))
width = int(input("Enter width: "))
area = length * width
perimeter = 2 * (length + width)
print("Area of rectangle:", area)
print("Perimeter of rectangle:", perimeter)

x = 0
graph = 2*x -2 

print(len('Python'))
print(len('Dragon'))

print (len('python') != len('dragon'))

print ('on' in 'python' and 'on' in 'dragon') 

print ('on' in 'I hope this course is not full of jargon')

word = 'python'
word_length = int((len(word)))
print (float(word_length))
print (str(word_length))

user_num = int(input("Enter number: "))
if user_num % 2 == 0:
    print(user_num, "is even")
else:
    print(user_num, "is odd")

hours = int(input("Enter hours: "))
rate = float(input("Enter rate per hour: "))
pay = hours * rate
print("Your weekly earning is:", pay)

num_years = int(input("Enter number of years you have lived: "))
seconds_lived = num_years * 31536000
print("You have lived for", seconds_lived, "seconds")

In [ ]:
test_string = ['Thirty', 'Days', 'Of', 'Python']
print (' '.join(test_string))
test2_string = ['Coding', 'For', 'All']
print (' '.join(test2_string))
company = "Coding For All"
print (company)
print (len(company))
print (company.upper())
print (company.lower())
print (company.capitalize())
print (company.title())
print (company.swapcase())
print (company[0])
last_8 = company[-7:]
print (last_8)
print(company.find('Coding'))
print(company.replace('Coding', 'Python'))
print (company.split())
tech_company = "Facebook, Google, Microsoft, Apple, IBM, Oracle, Amazon"
print (tech_company.split(', '))
print (company[0])
print (company[-1])
print (company[10])

In [ ]:
fruits = [ 'banana', 'orange', 'mango', 'lemon' ]
houses = ['Bungalow', 'Duplex', 'Apartment', 'Villa', 'Semi-Detached', 'Detahced']
print (len(houses))
print (houses[0])
print (houses[-1])
print (houses[3])
mixed_data_types = ['Param', 24, 5.9, True, 'Chandigarh']
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
print (it_companies)
print (mixed_data_types)
print (len(it_companies))
print (it_companies[0])
print (it_companies[-1])
print (it_companies[3])
it_companies.insert(3, 'Twitter')
print (it_companies)
it_companies[1] = 'GOOGLE'
print (it_companies)
print ( it_companies + mixed_data_types)
print ('GOOGLE' in it_companies)
it_companies.sort()
print (it_companies)
it_companies.reverse()
print (it_companies)

In [ ]:
first_tuple = ()
Siblings= ('Param', 'Raman', 'Manraj')
Parents = ('dad', 'mum')
whole_family = Siblings + Parents
print (whole_family)
print (len(whole_family))
Siblings = whole_family[0:3]
Parents = whole_family[-2:]
print (Siblings)
print (Parents)

fruits = ('orange', 'banana', 'mango', 'lemon')
vegetables = ('carrot', 'broccoli', 'spinach', 'potato')
animal_products = ('chicken', 'beef', 'fish', 'eggs')
food_stuff_tp = fruits + vegetables + animal_products
food_stuff_lt = list(food_stuff_tp)
middle_items = food_stuff_tp[1:-1]
print (middle_items)
first_three = food_stuff_tp[0:3]
last_three = food_stuff_tp[-3:]
print (first_three)
print (last_three)
del food_stuff_tp
nordic_countries = ('Denmark', 'Finland', 'Iceland', 'Norway', 'Sweden')
print('Estonia' in nordic_countries)
print('Iceland' in nordic_countries)

In [ ]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
print(len(it_companies))
it_companies.update(['Twitter', 'Nvidia', 'OnePlus'])
print (it_companies)
it_companies.remove('Apple')
print (it_companies)
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27, 29}
C = A.union(B)
print (C)
print (A.intersection(B))
print (A.issubset(B))
print (A.isdisjoint(B))
D = A.union(B)
print (D)
E = B.union(A)
print (E)
print (B.symmetric_difference(A))
del A
del B
del C       
del D
del E

age = [22, 19, 24, 25, 26, 24, 25, 24]
age_set = set(age)
print (len(age))
print (len(age_set))

In [ ]:
#12 days of python 


with open(r"C:\Users\Paramveer Singh\OneDrive\Documents\Portfolio\rotations.txt") as input_rotations:
    rotations = [line.strip() for line in input_rotations]
    pointer = 50
    result = []
    count = 0 


    for r in rotations:
        if r[0] == 'R':
            distance = int(r[1:])
            pointer = (pointer + distance) % 100
            if pointer >= distance:
                count += 1
            result.append(pointer)
            
        elif r[0] == 'L':
            distance = int(r[1:])
            pointer = (pointer - distance) % 100
            if pointer == 0:
                #print ("count", count)
                #print ("distance", distance)
                count += 1
            
            result.append(pointer)

        else:
            print("Invalid rotation command:", r)
        
        print (count)

In [1]:
dog={}
dog['name']='Buddy'
dog['color']='Brown'
dog['breed']='Labrador'
dog['legs']=4   
dog['age']=3
student = {
    'first_name': 'Paramveer',
    'last_name': 'Singh',
    'gender': 'Male',
    'age': 24,
    'marital_status': 'Single',
    'skills': ['Python', 'Machine Learning', 'Data Analysis'],
    'country': 'United Kingdom',
    'city': 'London',
    'address': '123 Baker Street'
}
print (len(student))
print (student['skills'])
student['skills'].append('AWS')
keys = student.keys()
print (keys)
values = student.values()   
print (values)
print (student.items())
del student['marital_status']
print (student)
del student

9
['Python', 'Machine Learning', 'Data Analysis']
dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address'])
dict_values(['Paramveer', 'Singh', 'Male', 24, 'Single', ['Python', 'Machine Learning', 'Data Analysis', 'AWS'], 'United Kingdom', 'London', '123 Baker Street'])
dict_items([('first_name', 'Paramveer'), ('last_name', 'Singh'), ('gender', 'Male'), ('age', 24), ('marital_status', 'Single'), ('skills', ['Python', 'Machine Learning', 'Data Analysis', 'AWS']), ('country', 'United Kingdom'), ('city', 'London'), ('address', '123 Baker Street')])
{'first_name': 'Paramveer', 'last_name': 'Singh', 'gender': 'Male', 'age': 24, 'skills': ['Python', 'Machine Learning', 'Data Analysis', 'AWS'], 'country': 'United Kingdom', 'city': 'London', 'address': '123 Baker Street'}

In [8]:
#Day 09 Conditional Statements
age = int(input("Enter your age: "))
if age >= 18:
    print("You are old enough to drive.")
else:
    waiting = 18 - age
    print("You need", waiting, "years to turn 18 to drive.")
    
your_age = int(input("Enter your age: "))
my_age = 24
if your_age > my_age:
    diff = your_age - my_age
    if diff == 1:
        print("You are", diff, "year older than me.")
    else:
        print("You are", diff, "years older than me.")
elif your_age < my_age:
    diff = my_age - your_age
    print("I am", diff, "years older than you.")
else: 
    print("We are of the same age.")
    
    
num1 = int(input("Enter a number: "))
num2 = int(input("Enter another number: "))
if num1 > num2:
    print(num1, "is greater than", num2)
elif num1 < num2:
    print(num2, "is greater than", num1)
else:
    print("Both numbers are equal.")


score = int(input("Enter your score (0-100): "))
if score >= 90 and score <= 100:
    grade = 'A'
elif score >= 80 and score < 90:
    grade = 'B'
elif score >= 70 and score < 80:
    grade = 'C'
elif score >= 60 and score < 70:
    grade = 'D'
elif score >= 50 and score < 60:
    grade = 'E'
else:
    grade = 'F'

print("Your grade is:", grade)

season = input("Enter the month: ")
season = season.lower()
if season in ['september', 'october', 'november']:
    print("The season is Autumn.")
elif season in ['december', 'january', 'february']:
    print("The season is Winter.")  
elif season in ['march', 'april', 'may']:
    print("The season is Spring.")
elif season in ['june', 'july', 'august']:
    print("The season is Summer.")
else:
    print("Invalid month name.")
    
fruits = ['banana', 'orange', 'mango', 'lemon']
fruit = input("Enter a fruit name: ")
fruit = fruit.lower()
if fruit not in fruits:
    fruits.append(fruit)
    print("Fruit added to the list.")
    print(fruits)
else:
    print("Fruit already exists in the list.")
    print(fruits)
    

person={
    'first_name': 'Asabeneh',
    'last_name': 'Yetayeh',
    'age': 250,
    'country': 'Finland',
    'is_marred': True,
    'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address': {
        'street': 'Space street',
        'zipcode': '02210'
    }
}
if 'skills' in person:
    print(person['skills'][1:-1])
if 'Python' in person['skills']:
    print("Python is one of the skills.")
else:
    print("Python is not one of the skills.")

if 'Javascript' and 'React' in person['skills']:
    print("He is a front end developer.")
elif 'Node' and 'Python' and 'MongoDB' in person['skills']:
    print("He is a backend developer.")
else :
    print("He is a fullstack developer.")
if person['is_marred'] and person['country']=='Finland':
    print(f"{person['first_name']} {person['last_name']} lives in {person['country']}. He is married.")

You are old enough to drive.
I am 1 years older than you.
Both numbers are equal.
Your grade is: D
The season is Spring.
Fruit added to the list.
['banana', 'orange', 'mango', 'lemon', 'pineapple']
['React', 'Node', 'MongoDB']
Python is one of the skills.
He is a front end developer.
Asabeneh Yetayeh lives in Finland. He is married.